@font-face {
  font-family: "EMBASSY BT";
  src: url("EMBASSY BT.TTF") format("truetype");
  /* 可以添加其他字体格式和属性 */
}

body {
  height: 100vh;
}

/* 添加视频背景样式 */
video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* 当视口宽度小于 768px 时，视频尺寸变小 */
@media (max-width: 768px) {
  video {
    width: 100vw; /* 视口宽度 */
    height: 56.25vw; /* 16:9 宽高比的视频高度 */
  }
}

/* Header 样式 */
h1 {
  font-weight: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
}

.highlighted {
  font-size: 100px;
  font-family: "EMBASSY BT";
}

.topnavbar {
  position: fixed;
}